.results-page {
  text-align: center;
  padding: 20px;
}

.final-score {
  font-size: 20px;
  margin-bottom: 15px;
}

.answer-list {
  list-style: none;
  padding: 0;
}

.answer-list li {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.correct {
  background-color: #c8e6c9;
  /* Verde pentru răspunsurile corecte */
}

.incorrect {
  background-color: #ffcdd2;
  /* Roșu pentru răspunsurile greșite */
}

.user-answer {
  font-weight: bold;
}

.reset-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.reset-btn:hover {
  background-color: #0056b3;
}